@import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24895,24898,24896,24897');

body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #0F1320;
}
.wrapper {
    background-color: #0F1320;
}
.main {
    background-color: #0F1320;
}
/* header */
.header .bg-light {
    background-color: transparent !important;
}
.header .header__navbar-logo span {
    font-size: 18px;
    color: #FFFFFF;
}
.header .navbar .header__navbar-item a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.header .header__navbar-button .btn-signin {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.header .header__navbar-button .btn-signup {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #22A75D;
    box-sizing: border-box;
    border-radius: 52px;
}
/* end header */
/* main */
.home__desc .home__desc__inner {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
/*  */
.home__title__inner .home__title-top {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.home__title__inner .home__title-center {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -0.02em;
    color: #FFD100;
}
.home__title__inner .home__title-bottom {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
/*  */
/*  */
 .home__main-left .home__main-left-top {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 54px; */
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
 .home__main-left .home__main-left-center {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    /* line-height: 96px; */
    letter-spacing: -0.02em;
    color: #2278D4;
}
 .home__main-left .home__main-left-bottom {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 54px; */
    text-align: right;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
/*  .home__main-center .home__main-center__inner {
    background: url("./img/main-home-bg.png");
    width: 100%;
    height: 449px;
} */

 .home__main-right .home__main-right-top {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 54px; */
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
 .home__main-right .home__main-right-center {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    /* line-height: 96px; */
    letter-spacing: -0.02em;
    color: #E20613;
}
 .home__main-right .home__main-right-bottom {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 54px; */
    text-align: right;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
/*  */
/*  */
.home__services .home__services__item .home__services__item__inner {
    background: #171B29;
    border-radius: 25px;
    padding: 14px;
}
.home__services .home__services__item .home__services__item__year {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home__services .home__services__item .home__services__item__year .home__services__item__year__block {
    width: 16px;
    height: 16px;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
    border-radius: 25px;
    border-bottom-left-radius: 10px;
    margin-right: 10px;
}
.home__services .home__services__item .home__services__item__year .home__services__item__year__content {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 34px;
}
.home__services__item .home__services__item__inner .home__services__item__info {
    margin-left: 30px;
}
.home__services__item .home__services__item__inner .home__services__item__info h4.home__services__item__title {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
}
.home__services__item .home__services__item__inner .home__services__item__info .home__services__item__content {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;
    color: #FFFFFF;
    opacity: 0.7;
}
.home__services__item .home__services__item__inner .home__services__item__info .home__services__item__desc {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;
    color: #FFFFFF;
    opacity: 0.7;
}
/* modifier services */
.home__services__item__year__block-green {
    background: #22A75D;
}
.home__services__item__year__content-green {
    color: #22A75D;
}
.home__services__item__year__block-yellow {
    background: #FFD100;

}
.home__services__item__year__content-yellow {
    color: #FFD100;
}
.home__services__item__year__block-blue {
    background: #0F87CA;

}
.home__services__item__year__content-blue {
    color: #0F87CA;
}
.home__services__item__year__block-red {
    background: #E20613;

}
.home__services__item__year__content-red {
    color: #E20613;
}
.home__services__item-ptpb {
    padding-top: 15px;
    padding-bottom: 15px;
}
/* end modifier services */
/*  */
/*  */
.main__cards {
    /* padding-top: 100px; */
}
.main__cards .main__cards-bg {
    background: url("./assets/img/main-cards-bg.png");
    width: 100%;
    /* height: 1060px; */
    object-fit: cover;
    background-size: cover;
    background-repeat: round;
}
.main__cards .main__cards__inner {
    padding: 50px 90px;
    background-color: #fff;
    border-radius: 25px;
}
.main__cards .main__cards__inner-left {
    margin-top: 20px;
}
.main__cards .main__cards__inner-right {
    margin-top: 40px;
}
.main__cards .main__cards__inner .main__cards__title {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0F1320;
}
.main__cards .main__cards__inner .main__cards__number {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -0.02em;
    color: #19A255;
}
.main__cards .main__cards__inner .main__cards__number-yellow {
    color: #FFD100;
}
.main__cards .main__cards__inner .main__cards__desc {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 54px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #0F1320;
}
.main__cards .main__cards__inner .main__cards__more {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;    
    color: #000000;    
    opacity: 0.6;
}
/*  */
/*  */
.main__nav__end {
    padding-top: 100px;
}
ul, li {
    list-style: none;
}
.main__nav__end .main__nav__end-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}
.main__nav__end .main__nav__end-list .main__nav__end-item a {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*  */
/* end main */
/* footer */
.footer {
    padding-top: 100px;
}
.footer .footer__logo a span {
    font-size: 18px;
    color: #fff;
}
.footer .footer__socialnetwork-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}
.footer .footer__socialnetwork-list .footer__socialnetwork-item i {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    padding: 8px 8px 6px;
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer__reserved {
    color: #fff;
}
.footer .footer__reserved .footer__reserved__reserved {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}
.footer .footer__reserved .footer__reserved__design {
    /* font-family: Century Gothic; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #FFFFFF;
}
/* end footer */

/* responsive */
@media all and (max-width: 576px) {
    .header__navbar__button__click {
        margin-right: -15px;
    }
    .header__navbar__button-white {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn.btn-signin {
        padding-left: 0;
    }
    .home__desc .home__desc__inner {
        /* font-size: 26px; */
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .home__title {
        padding-top: 20px;
    }
    .home__title__inner .home__title-top {
        font-size: 23px;
        /* line-height: normal; */
        font-style: normal;
        font-weight: bold;
        /* font-size: 16px; */
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .home__title__inner .home__title-center {
        /* font-size: 52px; */
        font-style: normal;
        font-weight: bold;
        font-size: 49.6296px;
        line-height: 50px;
        letter-spacing: -0.02em;
        color: #FFD100;
    }
    .home__title__inner .home__title-bottom {
        /* font-size: 14px; */
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .home__main .home__main-left {
        position: relative;
        width: 60%;
        margin-left: auto;
        /* padding-right: 15px; */
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .home__main .home__main-left .home__main-left-top {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .home__main .home__main-left .home__main-left-center {
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 50px;
        letter-spacing: -0.02em;
        color: #2278D4;
    }
    .home__main .home__main-left .home__main-left-bottom {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    .home__main-left-top {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .home__main-left-center {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: -0.02em;
        color: #2278D4;
    }
    .home__main-left-bottom {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .home__main .home__main-center__inner {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .home__main .home__main-right {
        position: relative;
        width: 60%;
        margin-right: auto;
        /* padding-right: 15px; */
    }
    .home__main .home__main-right .home__main-right-top {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .home__main .home__main-right .home__main-right-center {
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 50px;
        letter-spacing: -0.02em;
        color: #E20613;
    }
    .home__main .home__main-right .home__main-right-bottom {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .od1 {order: 1;}
    .col-sm-2 {
        position: relative;
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .main__cards .main__cards__inner {
        padding: 20px;
    }
    .main__cards .main__cards__inner .main__cards__title {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.02em;
    }
    .main__cards .main__cards__inner .main__cards__number {
        font-size: 40.2963px;
        line-height: 40px;
        letter-spacing: -0.02em;
    }
    .main__cards .main__cards__inner .main__cards__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 54px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #0F1320;
    }
    .main__cards .main__cards__inner .main__cards__more {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #000000;
        opacity: 0.6;
    }
    .main__nav__end {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .footer__logo {
        text-align: center;
    }
    .footer__socialnetwork-list {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .footer .footer__reserved .footer__reserved__reserved, .footer .footer__reserved .footer__reserved__design {
        text-align: center !important;
    }
}
/* end responsive */